body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
}

.image {
    display: flex;
    justify-content: center;
}

h1 {
    background-color: red;
    color: yellow;
    padding: 8px;
    margin: 25px 50px;
    text-align: center;
}

p {
    font-size: 20px;
    color: green;
}

.ingredients {
    color: blue;
    margin: 5px auto;
    padding: 2px;
}

li {
    padding: 4px;
}

button {
    padding: 15px;
    margin: auto 5px;
    background-color: red;
    display: block;
}

.recipes .steak {
    background-color: salmon;
    margin-bottom: 8px;
}

.recipes .corn {
    background-color: yellow;
    margin-bottom: 8px;
}

.recipes .potato {
    background-color: bisque;
    margin-bottom: 8px;
}

img {
    text-align: center;
}

.sub {
    color: white;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
    border: 2px solid black;
}

div {
    display: flex;
    justify-content: center;
    gap: 100px;
}